* {
  font-family: 'Trebuchet MS', sans-serif;  
}

body{
  background-color: white;
}

p{
  text-align: center;
}

h1{
  text-align: center;
  color: #ffd30a;
}

h1#blue{
  text-align: center;
  color: #0072bb;
}

h2#urgent{
  text-align: center;
  color: red;
}

h4{
  text-align: center;
}

.header {
  text-align: center;
  background: #0072bb;
  color: #ffd30a;
  font-size: 30px;
}

hr.solid {
  opacity: 1;
  border-top: 7px solid #ffd30a;
}

nav {
  float: left;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0072bb;
}

li {
  float: left;
}

li:nth-last-child(-n+2)#user {
  float: right;
}

li:last-child {
  float: right;
}

li a {
  display: block;
  color: #ffd30a;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 20px;
}

li a:hover {
  background-color: #38aef7;
  
}

form {
  border: 10px solid #ffffff;
}


input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


button {
  display: block;
  background-color: #0072bb;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
}


button:hover {
  opacity: 0.8;
}


.imgcontainer {
  text-align: center;
  padding-left: 500px;
  padding-right: 500px;
  margin: 48px 0 24px 0;
}

img.logo {
  width:50%;
}


.my-container {
  display: block;
  margin-left: 200px;
  margin-right: 200px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom:50px;
}

#txtHint{
  width: 100%;
}

div#appform{
  float:left;
  padding-left: 25%;
  padding-right: 25%;
}

.container{
  padding-top: 50px;
  padding-left: 250px;
  padding-right: 250px;
}


#req{
  color:rgb(156, 51, 51);
}


